#btn{
    width: 100%;
    margin-bottom: 10px;
}

.delBtn{
    position: relative;
}

.delBtn i{
    height: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.task{
    resize: none;
}

#todoCards {
    display: flex;
    flex-wrap: wrap;
}

.todoCard{
    display: block;
    margin-right: 5px;
    margin-left: 0;
}

.containerCompteur {
    display: inline-block;
}

.compteurCards {
    display: inline-block;
}